<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title><ui:insert name="pageTitle" /></title>
	<h:outputStylesheet library="css" name="default.css"  />
</h:head>
<h:body>
	<f:view contentType="text/html">
		<ui:insert name="metadata" />
		
		<div id="titleHeader">
			<h1>
				<ui:insert name="pageTitle" />
			</h1>
		</div>

		<div id="pageContent">
			<ui:insert name="pageContent" />
		</div>
	</f:view>
</h:body>
</html>