<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	template="WEB-INF/templates/page-template.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="pageTitle">Web Orbit Simulator</ui:define>
	
	<ui:define name="pageContent">
		<p:fieldset legend="Rejestracja użytkownika">
			<!-- <ui:include src="WEB-INF/parts/register-user-form.xhtml"></ui:include> -->
			<h:form>
		<p:messages showDetail="true" errorStyle="color: red"
			warnStyle="color: orange" infoStyle="color: blue" />
		<h:panelGrid columns="2">
			<h:outputText value="Login:" />
			<p:inputText value="#{registerController.user.login}"
				required="true" style="width: 300px" />
			<h:outputText value="Hasło:" />
			<p:password value="#{registerController.user.pass}"
				required="true" style="width: 300px" />
		</h:panelGrid>
		<br />
		<p:commandButton value="Stwórz konto" action="#{registerController.register()}" />
	</h:form>
		</p:fieldset>
	</ui:define>
</ui:composition>