<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	template="WEB-INF/templates/page-template.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:event listener="#{ses.checkUser()}" type="preRenderView"></f:event>
	</f:metadata>

	<ui:define name="pageTitle">Web Orbit Simulator</ui:define>
	<ui:define name="pageContent">
		<h:form>
			<p:fieldset legend="Użytkownik" style="font-size: 10pt">
				<div class="floating">
					<h:outputText value="Zalogowany jako: " />
					<h:outputText value="#{ses.user.login}" />
					<p align="right">
						<p:commandButton action="#{ses.logout()}" value="Wyloguj" />
					</p>
				</div>
				<div class="floating">
					<h:outputText value="Status symulacji: " />
					<h:outputText id="simStatusLabel"
						value="#{simulationManager.simulationStatus}" />
					<p:poll interval="3"
						listener="#{simulationManager.updateSimulationStatus()}"
						update="simStatusLabel" />
				</div>
			</p:fieldset>
			<br />
			<div id="visualization">
				<canvas width="100%" height="100%" id="probeCanvas">Canvas
				not supported</canvas>
			</div>
			<div id="menu">
				<div id="inputForm">
					<p:fieldset legend="Formularz symulacji">
						<h:outputText value="Planeta startowa" />
						<p:selectOneMenu
							value="#{simulationManager.simulationRequest.startPlanetNumber}">
							<f:selectItem itemLabel="Mercury" itemValue="0" />
							<f:selectItem itemLabel="Wenus" itemValue="1" />
							<f:selectItem itemLabel="Ziemia" itemValue="2" />
							<f:selectItem itemLabel="Mars" itemValue="3" />
						</p:selectOneMenu>
						<p:separator />
						<h:outputText value="Prędkość w osi X" />
						<p:inputText
							value="#{simulationManager.simulationRequest.xVelocity}" />
						<h:outputText value="Prędkość w osi Y" />
						<p:inputText
							value="#{simulationManager.simulationRequest.yVelocity}" />
						<h:outputText value="Prędkość w osi Z" />
						<p:inputText
							value="#{simulationManager.simulationRequest.zVelocity}" />
						<p:separator />
						<center>
							<p:panelGrid style="font-size: 10pt">
								<p:row>
									<p:column>
										<p:commandButton
											action="#{simulationManager.startNewSimulation()}"
											value="Rozpocznij symulację" />
									</p:column>
									<p:column>
										<p:commandButton
											action="#{simulationManager.stopCurrentSimulation()}"
											value="Zatrzymaj symulację" update="simStatusLabel" />
									</p:column>
								</p:row>
							</p:panelGrid>
						</center>
					</p:fieldset>
				</div>
				<div id="chart">
					<canvas width="100%" height="100%" id="chartCanvas">Canvas
					not supported</canvas>
				</div>
			</div>
			
			<p:dataTable id="basic" var="simulation" value="#{animationController.getSimulations()}">
			<f:facet name="header">
				Symulacje użytkownika
			</f:facet>
			
			<p:column id="simulationId">
				<f:facet name="header">
					Id
				</f:facet>
				<h:outputText value="#{simulation.id}" />
			</p:column>
			
			<p:column id="evaluation">
				<f:facet name="header">
					Ocena symulacji
				</f:facet>
				<h:outputText value="#{simulation.evaluation}" />
			</p:column>
		</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>